<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to MobiLeLeLe
    <th:block th:if="${@currentUser.getLogged()}" th:text="${@currentUser.getFullName()}">username</th:block>
    <th:block th:unless="${@currentUser.getLogged()}">Anonymous</th:block>
    </h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
